{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    Индийский ресторан "Ранголи" - это идеальное место для тех, кто хочет окунуться в атмосферу традиционной индийской кухни и культуры.
</p>
<p>
    Интерьер ресторана выполнен в светлых тонах, украшен яркими акцентами и национальными орнаментами. Здесь можно увидеть традиционные индийские статуэтки и картины, а также насладиться мелодичной музыкой, которая переносит гостей в мир индийских мелодий.
</p>
<p>
    Меню ресторана "Ранголи"  предлагает широкий выбор блюд, которые придутся по вкусу даже самым искушенным гурманам. Здесь вы сможете насладиться ароматными карри, пряными овощными блюдами, нежными десертами и освежающими напитками. Особой популярностью пользуются такие блюда, как тандури чикен, малай кофта, панир тикка и манго ласси.
</p>
<p>
    Однако, наш ресторан славится не только своими кулинарными шедеврами, но и обслуживанием. Официанты всегда готовы помочь с выбором блюд и напитков, а также предложить советы по сочетанию разных вкусов. Они вежливы и внимательны, что делает пребывание в ресторане еще более приятным.
</p>

{% endblock %}